<%# locals: (tasks:) %>
<div class="sometime-row" id="sometime_row"
     data-sortable-target="sometimeList">
  <div class="sometime-row__label">Sometime this week</div>
  <div class="sometime-row__tasks">
    <% if tasks.any? %>
      <% tasks.each do |task| %>
        <%= render "shared/task_card", task: task, compact: true %>
      <% end %>
    <% else %>
      <p class="sometime-row__empty">Things you want to do this week, but not on a particular day. Drag stuff here.</p>
    <% end %>
  </div>
</div>
