<% if @step == 1 %>
  <% content_for(:topbar) do %>
    <span class="topbar__title">Sunset</span>
    <span class="topbar__sub">A look back at today</span>
  <% end %>
<% elsif @step == 2 %>
  <% content_for(:topbar) do %>
    <span class="topbar__title">Sunset</span>
    <span class="topbar__sub">One line for tonight</span>
  <% end %>
<% end %>

<div class="ritual-doc ritual-doc--sunset" data-controller="ritual">
  <% if @step == 1 %>
    <%= render "evening_review",
        completed_tasks: @completed_tasks,
        remaining_tasks: @remaining_tasks,
        actual_minutes: @evening_actual_minutes,
        planned_minutes: @evening_planned_minutes,
        donut_segments: @donut_segments %>
  <% else %>
    <%= render "evening_reflection" %>
  <% end %>
</div>
