<% if @step == 1 %>
  <% content_for(:topbar) do %>
    <span class="topbar__title">Today</span>
    <span class="topbar__sub">In review</span>
  <% end %>
<% elsif @step == 2 %>
  <% content_for(:topbar) do %>
    <span class="topbar__title">Sunset</span>
    <span class="topbar__sub">One line to close the day</span>
  <% end %>
<% end %>

<div class="ritual ritual--evening <%= @step == 1 ? 'ritual--sunset-step1' : 'ritual--sunset-step2' %>" data-controller="ritual">
  <% if @step == 1 %>
    <%= render "evening_review",
        completed_tasks: @completed_tasks,
        remaining_tasks: @remaining_tasks,
        actual_minutes: @evening_actual_minutes,
        planned_minutes: @evening_planned_minutes,
        donut_segments: @donut_segments %>
  <% else %>
    <div class="ritual__content ritual__content--reflection">
      <%= render "evening_reflection" %>
    </div>
  <% end %>
</div>
